/* Loader background */
#page-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Loader content */
.loader-content {
  text-align: center;
}

.logo-png {
  width: 120px;
  height: auto;
  animation: logo 2s ease-out 0s infinite normal none;
}

@keyframes logo {
  0% {
	transform: scale(1);
  }

  50% {
	transform: scale(1.1);
  }

  100% {
	transform: scale(1);
  }
}

/* Progress bar */


.progress-bar {
  width:120px;
  height:22px;
  border-radius: 20px;
  color:#F4F4F4;
  border:2px solid;
  position: relative;
}
.progress-bar::before {
  content:"";
  position: absolute;
  margin:2px;
  inset:0 100% 0 0;
  border-radius: inherit;
  background:#F4F4F4;
  animation:p6 2.5s ease-in-out forwards;
}
@keyframes p6 {
    100% {inset:0}
}

/* Transisi halaman */
body.not-loaded .layout-wrapper,
body.not-loaded header,
body.not-loaded main,
body.not-loaded footer {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease-in-out;
}

body.loaded .layout-wrapper,
body.loaded header,
body.loaded main,
body.loaded footer {
  opacity: 1;
  visibility: visible;
}

/* Animasi */

@keyframes loadingBar {
  0% { width: 0; }
  100% { width: 100%; }
}

body.not-loaded *:not(#page-loader):not(#page-loader *) {
  opacity: 0 !important;
  visibility: hidden !important;
}

body.loaded * {
  opacity: 1 !important;
  visibility: visible !important;
  transition: opacity 0.8s ease-in-out;
}
